<h1>Push Parrot</h1>

<button type="button" (click)="subscribe()"
  [class.green]="permission() === 'granted'"
  [class.red]="permission() === 'denied'"
>Notifications: {{ permission() }}</button>

<form [formGroup]="notificationForm" (ngSubmit)="submit()">
  <label for="title">Title</label>
  <input id="title" placeholder="Please enter a title" type="text" formControlName="title">
  <label for="description">Description</label>
  <input id="description" placeholder="Please enter a description" type="text" formControlName="description">
  <button type="submit">Send</button>
</form>

@if(notificationService.messages(); as messages) {
  <pre>{{ messages | json }}</pre>
}

