<h1>Parrot</h1>

<button type="button" (click)="subscribe()">activate</button>
Is parrot allowed to speak? {{ permission() }}

<form [formGroup]="notificationForm" (ngSubmit)="submit()">
  <label for="title">Title</label>
  <input id="title" placeholder="Please enter a title" type="text" formControlName="title">
  <label for="description">Description</label>
  <input id="description" placeholder="Please enter a description" type="text" formControlName="description">
  <button type="submit">Send</button>
</form>

<pre>{{ notificationService.messages() | json }}</pre>

